<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <button id="next">Next Image</button>
    <!-- <div id="right">
      <img id="detected-image" />
    </div> -->
    <input id="an" value="">
    <input id="am" value="">
    <script>
      document.addEventListener("DOMContentLoaded", e => {

        let detected = document.getElementById("an");
        let detecte = document.getElementById("am");
        let images = [];

        fetch('http://localhost:3000/images')
        // fetch('https://hanh211.github.io/ha7/images')
          .then(function(response){
            return response.json();
          })
          .then(function(data){
            console.log(data);
            detected.setAttribute(
              // images=data;
              "value",
              data
            );
          });
          // .catch(function(err){
          //   console.log('co loi');
          // });
        let nextButton = document.getElementById("next");
        nextButton.addEventListener("click", e => {
          fetch('http://localhost:3000/detect')
          // fetch('https://hanh211.github.io/ha7/images')
            .then(function(response){
              return response.json();
            })
            .then(function(data){
              console.log(data);
              detecte.setAttribute(
                // images=data;
                "value",
                data
              );
            });
          });
      });

    </script>
  </body>
</html>
